*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body {
    background: url("images/reg\ form.jpeg") no-repeat;
    background-size: cover;
    color: #fff;


} 

.enrollment-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}

.enrollment-form h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    
}

.enrollment-form p{
    font-size: 20px;
    margin: 15px 0;


}

.enrollment-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;


}
.enrollment-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
}

.enrollment-form button:hover{
    color: aquamarine;
}